# Numpy + Pandas introduction

This notebook is a quick introduction to the numpy and pandas libraries. It is intended to be a quick reference for the most common operations.

The first thing we need to do is import the libraries. We will use the standard aliases for these libraries, here goes `pd` :)

```python

In [1]:
import numpy as np
import pandas as pd
idx = 111111

# <center>Pandas</center>

<center><img src=https://c.tenor.com/tIcg38r9_LMAAAAC/hi-hello.gif></center>

## <center>Basic loading</center>

### Task 1 (1 point)

Load the dataframe about the food facts from url:(https://www.kaggle.com/openfoodfacts/world-food-facts/data) or in a given folder ```./food/```.

#### a) Check the first and last ${last_idx_num + 1} elements

In [2]:
df = pd.read_csv('food/en.openfoodfacts.org.products.tsv', sep='\t')
df.tail(7)

C:\Users\maxgr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3397: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
356020,99410148,http://world-en.openfoodfacts.org/product/9941...,date-limite-app,1463936572,2016-05-22T17:02:52Z,1491244498,2017-04-03T18:34:58Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356021,9948282780603,http://world-en.openfoodfacts.org/product/9948...,openfoodfacts-contributors,1490631299,2017-03-27T16:14:59Z,1491244498,2017-04-03T18:34:58Z,Tomato & ricotta,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356022,99567453,http://world-en.openfoodfacts.org/product/9956...,usda-ndb-import,1489059076,2017-03-09T11:31:16Z,1491244499,2017-04-03T18:34:59Z,"Mint Melange Tea A Blend Of Peppermint, Lemon ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
356023,9970229501521,http://world-en.openfoodfacts.org/product/9970...,tomato,1422099377,2015-01-24T11:36:17Z,1491244499,2017-04-03T18:34:59Z,乐吧泡菜味薯片,Leba pickle flavor potato chips,50 g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356024,9977471758307,http://world-en.openfoodfacts.org/product/9977...,openfoodfacts-contributors,1497018549,2017-06-09T14:29:09Z,1500730305,2017-07-22T13:31:45Z,Biscottes bio,NaN,300g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356025,9980282863788,http://world-en.openfoodfacts.org/product/9980...,openfoodfacts-contributors,1492340089,2017-04-16T10:54:49Z,1492340089,2017-04-16T10:54:49Z,Tomates aux Vermicelles,NaN,67g,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356026,999990026839,http://world-en.openfoodfacts.org/product/9999...,usda-ndb-import,1489072709,2017-03-09T15:18:29Z,1491244499,2017-04-03T18:34:59Z,"Sugar Free Drink Mix, Peach Tea",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### b) figure out the number of rows and columns

In [5]:
df.shape

(356027, 163)

#### c) Print information about it

In [6]:
df.info

<bound method DataFrame.info of                  code                                                url  \
0                3087  http://world-en.openfoodfacts.org/product/0000...
1                4530  http://world-en.openfoodfacts.org/product/0000...
2                4559  http://world-en.openfoodfacts.org/product/0000...
3               16087  http://world-en.openfoodfacts.org/product/0000...
4               16094  http://world-en.openfoodfacts.org/product/0000...
...               ...                                                ...
356022       99567453  http://world-en.openfoodfacts.org/product/9956...
356023  9970229501521  http://world-en.openfoodfacts.org/product/9970...
356024  9977471758307  http://world-en.openfoodfacts.org/product/9977...
356025  9980282863788  http://world-en.openfoodfacts.org/product/9980...
356026   999990026839  http://world-en.openfoodfacts.org/product/9999...

                           creator   created_t      created_datetime  \
0       openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2                  usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3                  usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4                  usda-ndb-import  1489055653  2017-03-09T10:34:13Z
...                            ...         ...                   ...
356022             usda-ndb-import  1489059076  2017-03-09T11:31:16Z
356023                      tomato  1422099377  2015-01-24T11:36:17Z
356024  openfoodfacts-contributors  1497018549  2017-06-09T14:29:09Z
356025  openfoodfacts-contributors  1492340089  2017-04-16T10:54:49Z
356026             usda-ndb-import  1489072709  2017-03-09T15:18:29Z

       last_modified_t last_modified_datetime  \
0           1474103893   2016-09-17T09:18:13Z
1           1489069957   2017-03-09T14:32:37Z
2           1489069957   2017-03-09T14:32:37Z
3           1489055731   2017-03-09T10:35:31Z
4           1489055653   2017-03-09T10:34:13Z
...                ...                    ...
356022      1491244499   2017-04-03T18:34:59Z
356023      1491244499   2017-04-03T18:34:59Z
356024      1500730305   2017-07-22T13:31:45Z
356025      1492340089   2017-04-16T10:54:49Z
356026      1491244499   2017-04-03T18:34:59Z

                                             product_name  \
0                                      Farine de blé noir
1                          Banana Chips Sweetened (Whole)
2                                                 Peanuts
3                                  Organic Salted Nut Mix
4                                         Organic Polenta
...                                                   ...
356022  Mint Melange Tea A Blend Of Peppermint, Lemon ...
356023                                            乐吧泡菜味薯片
356024                                      Biscottes bio
356025                           Tomates aux Vermicelles
356026                    Sugar Free Drink Mix, Peach Tea

                           generic_name quantity  ...  \
0                                   NaN      1kg  ...
1                                   NaN      NaN  ...
2                                   NaN      NaN  ...
3                                   NaN      NaN  ...
4                                   NaN      NaN  ...
...                                 ...      ...  ...
356022                              NaN      NaN  ...
356023  Leba pickle flavor potato chips     50 g  ...
356024                              NaN     300g  ...
356025                              NaN      67g  ...
356026                              NaN      NaN  ...

       fruits-vegetables-nuts_100g fruits-vegetables-nuts-estimate_100g  \
0                              NaN                                  NaN
1                              NaN                                  NaN
2                              NaN                                  NaN
3                              NaN                                  NaN
4                              NaN                                  NaN
...                            ...                                  ...
356022                         NaN                                  NaN
356023                         NaN                                  NaN
356024                         NaN                                  NaN
356025                         NaN                                  NaN
356026                         NaN                                  NaN

       collagen-meat-protein-ratio_100g cocoa_100g chlorophyl_100g  \
0                                   NaN        NaN             NaN
1                                   NaN        NaN             NaN
2                                   NaN        NaN             NaN
3                                   NaN        NaN             NaN
4                                   NaN        NaN             NaN
...                                 ...        ...             ...
356022                              NaN        NaN             NaN
356023                              NaN        NaN             NaN
356024                              NaN        NaN             NaN
356025                              NaN        NaN             NaN
356026                              NaN        NaN             NaN

       carbon-footprint_100g nutrition-score-fr_100g nutrition-score-uk_100g  \
0                        NaN                     NaN                     NaN
1                        NaN                    14.0                    14.0
2                        NaN                     0.0                     0.0
3                        NaN                    12.0                    12.0
4                        NaN                     NaN                     NaN
...                      ...                     ...                     ...
356022                   NaN                     0.0                     0.0
356023                   NaN                     NaN                     NaN
356024                   NaN                     NaN                     NaN
356025                   NaN                     NaN                     NaN
356026                   NaN                     NaN                     NaN

       glycemic-index_100g water-hardness_100g
0                      NaN                 NaN
1                      NaN                 NaN
2                      NaN                 NaN
3                      NaN                 NaN
4                      NaN                 NaN
...                    ...                 ...
356022                 NaN                 NaN
356023                 NaN                 NaN
356024                 NaN                 NaN
356025                 NaN                 NaN
356026                 NaN                 NaN

[356027 rows x 163 columns]>

#### d) Find the type of middle column

In [14]:
df.dtypes[df.shape[-1]//2]

dtype('float64')

#### e) How is the data indexed?

In [15]:
df.index

RangeIndex(start=0, stop=356027, step=1)

### Task 2 (2 points)

We run the data from [GitHub](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). 

a) Load the dataframe about the users

b) Determine the separator and index

c) Show the beginning of the file

d) What is the number of rows in the DataFrame

e) Change the columns to capital letters

f) Show the types of the data

g) Print the occupation and gender of the employees

h) How many unique occupations are there?

i) Summerize the information about the users

z) What is the mean age?

eta) What is the occupation with least occurences?

#### a) & b)

In [17]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")

data.index

KeyboardInterrupt:

#### c)

In [19]:
data.head(10)

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

#### d)

In [20]:
data.shape

(943, 5)

#### e)

In [24]:
data.columns = data.columns.str.lower()
data.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

#### f)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   USER_ID     943 non-null    int64
 1   AGE         943 non-null    int64
 2   GENDER      943 non-null    object
 3   OCCUPATION  943 non-null    object
 4   ZIP_CODE    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

#### g)

In [25]:
data[["occupation", "gender"]]

        occupation gender
0       technician      M
1            other      F
2           writer      M
3       technician      M
4            other      F
..             ...    ...
938        student      F
939  administrator      M
940        student      M
941      librarian      F
942        student      M

[943 rows x 2 columns]

#### h)

In [27]:
len(data["occupation"].unique())

21

#### i)

In [34]:
data.describe(include="all")
# without include - only gives numeric values

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

#### z)

In [36]:
data["age"].mean()

34.05196182396607

#### eta)

In [42]:
data["occupation"].value_counts().sort_values(ascending=True)[0]

7

## <center>Filtering and sorting data</center>

### Task 1 (1 point)

#### <center>Otter</center>
<center><img src = https://www.otterspecialistgroup.org/osg-newsite/wp-content/uploads/2017/04/ThinkstockPhotos-827261360.jpg width=160 height=160></center>

In [141]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

#### a) Sort users

#### b) What is the most common zip_code

#### c) What happens if people are only over 30?

In [2]:
age = 30

#### d) And in case of Women?

### Task 2 (2 points)

#### We'll use the previous dataframe and the one from [Chipotle Exercises Video](https://github.com/justmarkham) Tutorial, where you can someone else go through the exercises.

In [106]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### a) Change the item_price column to be numeric and in USD by default

#### b) Drop the duplicates treating quantity, item_name, choice_description as index for that change

In [108]:
filter_me = chipo.drop_duplicates(['quantity','item_name','choice_description'])
filter_me

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

#### c) Calclate the information for one quantity

#### d) Products that cost more than ```int(your_idx[0:2])/2```$

#### e) What is the price of each unique item?

#### f) Most expensive stuff?

#### g) How much people ate burrito?

#### h) How many times was Coke ordered more than once in one order?

### Task 3 (3 points)

#### Read the olimpics dataset from entry on [All-time Olympic Games medal table](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table) that is in this folder. Prepare it to work with.

#### a) What is the first country?

#### b) Which country has won the most gold medals in summer games? It should return a single string value.

#### c) Which country had the biggest difference between their summer and winter gold medal counts?

#### d) Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{\# Summer~Gold - \# Winter~Gold}{\# Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

#### e) Write a function that creates a Series called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

This function should return a Series named Points of length 146

## <center>Grouping and others</center>

### Task 1 (3 points)

For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names. (credit : University of Michigan)

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

#### a) Which county has the most cities in it

#### b) **Only looking at the two most populous counties for each state**, what are the five most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

#### Which county has had the largest absolute change in population within the period 2010-2014?
e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-100| = 30.

In [4]:
start_year = 2010
end_year = 2014

### Task 2 (2 points)

In census datafile, we have many regions choosen with *REGION* column.

Create a query that finds the counties that belong to regions 1 or 3, whose name starts with 'W', and whose Y = POPESTIMATE201(```your_idx[-1] % 5```) was greater than their POPESTIMATE2014.

*This function should return a DataFrame with the columns = ['STNAME', 'CTYNAME', Y, 'POPESTIMATE2014'] and the same index ID as the census_df (sorted ascending by index).*

In [5]:
regions = [1, 3]
start = 'W'

### Task 3 (2 points)

#### a) mean age per occupation

#### b) winning gender per age interval of 5 years

In [7]:
interval = 5

#### d) Discover the Female ratio per occupation and sort it from the most to the least

#### e) Calculate minimum and maximum ages for each occupation

### Task 4 (1 point)

#### a) For each combination of occupation and gender, calculate the mean age

#### b)  For each occupation present the percentage of women and men

## <center>Mergin'</center>

In [9]:
# fun
s1 = pd.Series(np.random.randint(1, high=12, size=100, dtype='l'))
s2 = pd.Series(np.random.binomial(123, 0.3, 1000))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

s1

NameError: name 'pd' is not defined

In [8]:
s2

NameError: name 's2' is not defined

In [10]:
s3

NameError: name 's3' is not defined

### Task 1 (1 point)

#### a) Join them guys into DataFrame by column

#### b) Fill NaNs value from 1 to 9 for first column and a big integer for the last one

#### c) Change the name of the columns to `floors`, `security workers` and `electricity bill`

### Task 2 (1 point)

 #### a) Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

#### b) Something's off with index, isn't it? Repair it

## <center>Apply</center>

From [GitHub](https://github.com/guipsamora). Refer for credit.

In [379]:
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [381]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [382]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [380]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Task 1 (1 point)

#### a) Create lambda function to capitalize strings.

#### b) apply!

### Task 2 (1 point)

#### a)  Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 18 years old)

In [11]:
major = 18

#### Multiply every number of the dataset by 5

# <center>That's all folks</center>
<center><img src = https://acegif.com/wp-content/uploads/gif/panda-8.gif></center>